// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Custom css
@import 'basic.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@coreui/coreui/scss/coreui";
@import "~@coreui/icons/css/free.css"
