.img-md {
	max-width: 15rem;
	max-height: 15rem;
}	

.price {
	color: black;
	font-weight: bolder;
}

.price:after {
	content: ' RUB';
}
.img-lg {
	width: 20rem;
	height: 20rem;
}

.group-item {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 12rem;
	height: 12rem;
	margin: 1.5rem 1rem;
	border: 2px solid gray;
	border-radius: 10%;

}
