.img-md {
	border: 2px solid #343a40;
	border-radius: 10%;
	width: 10rem;
	height: 10rem;
}	

.price {
	color: white;
	font-weight: bolder;
}

.price:after {
	content: ' RUB';
}
.img-lg {
	display: flex;
	border: 2px solid black;
	border-radius: 10%;
	margin: 2rem;
	width: 20rem;
}

.group-item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 12rem;
	height: 12rem;
	margin: 1.5rem 1rem;
}
