.filter-box-title {
	font-weight: bold;
}

.filter-box-label {
}

.filter-box-wrapper {
	margin: 1rem;
	flex-direction: column;
}

.filter-box-form {
	min-width: 15vw;
}

main {
	display: flex;
	
}

.main {
	flex-grow: 3;
	background-color: #d4f3ff;
	flex-direction: row;
}

.filter-box-list {
	margin-bottom: 0.5rem;
}

.item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 12rem;
	height: 12rem;
	margin: 1.5rem 1rem;

}

.item > div {
	display: flex;
}

.category-image {
	display: flex;			
	border: 2px solid #343a40;
	border-radius: 10%;
	width: 10rem;
	height: 10rem;
}

.product-image-sm {
	border: 2px solid #343a40;
	border-radius: 10%;
	width: 10rem;
	height: 10rem;
}

.product-img-lg {
	border: 2px solid #343a40;
	margin: 1rem;
	display: flex;
	width: 25rem;
}

.product-desc {
	display: flex;
	flex-direction: column;
}

.items-list {
	margin: 1rem;
}

.cart-item td {
	vertical-align: top;
	padding: 0rem 1rem;
}

.price {
	font-weight: bolder;
}

.price::before {
	content: "$";
}

.content-title {
	display: flex;
	text-align: center;
	margin: 1rem;
}

.cart-actions-panel {
	display: flex;
	justify-content: center;
}
