.filter-box-title {
	font-weight: bold;
}

.filter-box-label {
}

.filter-box-wrapper {
	margin: 1rem;
	min-width: 15vw;
	flex-direction: column;
}

main {
	display: flex;
	
}

.main {
	flex-grow: 3;
	background-color: #d4f3ff;
	flex-direction: row;
}

.filter-box-list {
	margin-bottom: 0.5rem;
}

.item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 10rem;
	height: 10rem;

}
